<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Message</title>
</head>
<body>
    <h3>Edit the message (ID: <%= chat._id %>)</h3>
    <p>The message was sent by <%= chat.from %> to <%= chat.to %></p>

    <form method="post" action="/chats/<%=chat._id%>?_method=PUT">
        <textarea rows="10" cols="50" name="msg"><%= chat.msg %></textarea>
        <br>
        <button>edit</button>
    </form>
</body>
</html>
