<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini whatsaap</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>All chats</h3>
    <br>
    <form class="form" method="get" action="/chats/new">
        <button>New Chat</button>
    </form>
    <br>
    <%for(let chat of chats){%>
    <div class="chat">
        <p>From: <%=chat.from%></p>
        <div class="msg">
            <p>Message: <%=chat.msg%></p>
        <form method="get" action="/chats/<%=chat._id%>/edit">
            <button>edit</button>
        </form>
        <br>
        <form method="post" action="/chats/<%= chat._id %>/?_method=DELETE"
            onsubmit="return confirm('Are you sure you want to delete this chat?');">
            <button>Delete</button>
        </form>

        </div>
        
        <p>To: <%=chat.to%></p>
        <p>Created at: <%=chat.created_at.toString().split(" ")[4]%></p>
        <p>Created at: <%=chat.created_at.toString().split(" ").slice(0,4).join("-")%></p>
        <hr>
    </div>  
    <%}%>
</body>
</html>