
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"> 
    <title>Animal Insta</title>
        <style>
        body{
            background-color: pink;
        }
    </style>
</head>
<body>
    <h1>Animal Insta profiles </h1>
    <button>Follow</button>
     <button>Message</button>

    <h2>Profile Details</h2>
    name: <%= profile.name %><br>
    followers: <%= profile.followers %><br>
    following: <%= profile.following %><br>
    Posts:
    <p>------------------------------------------------</p>
    
    <%for(let post of profile.posts){%>
        <div>
            <img src="<%=post.image%> "alt="" style="width: 200px; height: 200px;"><br>
            likes: <%= post.likes %><br>
            comments: <%= post.comments %><br>
        </div>
        <p>-----------------------------------------------------------</p>
    <%}%>
</body>
</html>